<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miner.disco.admin.dao.merchant.MerchantEvaluateDao">
        <select id="queryEvaluateList" resultType="com.miner.disco.admin.model.response.merchant.MerchantEvaluateListResponse">
              select dme.*,dm.name merchantName,dmb.nickname from ds_merchant_evaluate dme left join ds_merchant dm on dme.merchant_id = dm.id left join  ds_member dmb on dme.user_id = dmb.id
              <where>
                  <if test="search.merchantId != null">
                    AND  dme.merchant_id = #{search.merchantId}
                  </if>
                  <if test="search.merchantName != null and search.merchantName != ''">
                    AND   dm.name LIKE CONCAT('%', #{search.merchantName}, '%')
                  </if>
                  <if test="search.nickname != null and search.nickname != ''">
                    AND  dmb.nickname like CONCAT('%',#{search.nickname},'%')
                  </if>
                  <if test="search.anonymous != null">
                    AND  dme.anonymous = #{search.anonymous}
                  </if>
              </where>
              ORDER BY dme.${search.property} ${search.order}
              LIMIT #{search.offset}, #{search.limit}
        </select>

        <select id="countEvaluateList" resultType="int">
          select count(dme.id) from ds_merchant_evaluate dme left join ds_merchant dm on dme.merchant_id = dm.id left join  ds_member dmb on dme.user_id = dmb.id
          <where>
              <if test="search.merchantId != null">
                  AND  dme.merchant_id = #{search.merchantId}
              </if>
              <if test="search.merchantName != null and search.merchantName != ''">
                  AND   dm.name LIKE CONCAT('%', #{search.merchantName}, '%')
              </if>
              <if test="search.nickname != null and search.nickname != ''">
                  AND  dmb.nickname like CONCAT('%',#{search.nickname},'%')
              </if>
              <if test="search.anonymous != null">
                  AND  dme.anonymous = #{search.anonymous}
              </if>
          </where>
      </select>

    <select id="evaluateDetail" resultType="com.miner.disco.admin.model.response.merchant.MerchantEvaluateDetailResponse">
          select dme.*,dm.name merchantName,dm2.nickname userName from ds_merchant_evaluate dme left join ds_merchant dm on dme.merchant_id = dm.id left join ds_member dm2 on dme.user_id = dm2.id
          where dme.id = #{id}
    </select>

</mapper>