<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miner.disco.front.dao.ConfigMapper">

    <select id="queryByKey" resultType="com.miner.disco.pojo.Config">
        SELECT * FROM ds_config c WHERE c.key = #{key} LIMIT 1
    </select>

</mapper>