<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miner.disco.front.dao.MerchantAggregateQrcodeMapper">

    <select id="queryByOutTradeNo" resultType="com.miner.disco.pojo.MerchantAggregateQrcode">
        SELECT * FROM ds_merchant_aggregate_qrcode maq WHERE maq.out_trade_no = #{outTradeNo} ORDER BY maq.create_date DESC LIMIT 1
    </select>

</mapper>