<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="_DELETE_STATUS_NORMAL" value='${@com.miner.disco.basic.constants.DeleteStatus@NORMAL.key}' />
        <property name="_DELETE_STATUS_DELETE" value='${@com.miner.disco.basic.constants.DeleteStatus@DELETE.key}' />
    </properties>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>