<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miner.disco.admin.dao.member.MemberBillDao">

    <select id="memberBillList" resultType="com.miner.disco.admin.model.response.member.MemberBillListResponse">
        select * from ds_member_bill dmb left join ds_member dm on dmb.user_id = dm.id
        <include refid="conditioSql" />
        ORDER BY dmb.${search.property} ${search.order}
        LIMIT #{search.offset}, #{search.limit}
    </select>

    <select id="countMemberBill" resultType="int">
        select count(1) from ds_member_bill dmb left join ds_member dm on dmb.user_id = dm.id
        <include refid="conditioSql" />
    </select>

    <sql id="conditioSql">
        <where>
            <if test="search.mobile != null and search.mobile != ''">
                AND dm.mobile LIKE CONCAT('%', #{search.mobile}, '%')
            </if>
            <if test="search.nickname != null and search.nickname != ''">
                AND dm.nickname LIKE CONCAT('%', #{search.nickname}, '%')
            </if>
            <if test="search.realname != null and search.realname !=''">
                AND dm.realname LIKE CONCAT('%', #{search.realname}, '%')
            </if>
            <if test="search.type != null">
                AND dmb.type = #{search.type}
            </if>
            <if test="search.tradeType != null">
                AND dmb.trade_type = #{search.tradeType}
            </if>
        </where>
    </sql>

</mapper>